#SecondNav {
  z-index: 1021;
}
/* Navigasi atas II */
#secondNav {
  height: 50px;
  transition: all .4s ease;
  backdrop-filter: blur(20px);
  background-color: #ffffffb3;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
}
/* Kontainer Navigasi atas dua */
#secondNavContainer {
  gap: 24px;
  padding: 0px 19px;
  max-width: 1024px;
  transition: all .35s ease;
}
#secondNavTitle {
  font-size: 19px;
  font-weight: 500;
}
/* Arahkan ke kolom 2 di bagian atas layar dan klik tombol “Cari” di sebelah kanan. */
#secondNavSearchBtn {
  font-size: 11px;
  font-weight: 300;
  border-radius: 30px;
  --bs-btn-bg: #e8e8ed;
  padding: 5px 12px 4px;
  --bs-btn-color: #1d1d1f;
  transition: all .3s ease;
  --bs-btn-hover-bg: #d2d2d7;
  --bs-btn-hover-color: #1d1d1f;
}
.secondNavLink {
  font-size: 12px;
  font-weight: 400;
  transition: all .35s ease;
  --bs-link-color-rgb: 29, 29, 31;
  --bs-link-hover-color-rgb: 0, 102, 204;
}
/* Kotak pencarian di bagian Topik Populer pada bilah Navigasi di atas */
#hotTopicsSearchBar {
  font-size: 19px;
  font-weight: 600;
}
/* Area bertema populer di kolom navigasi atas */
#hotTopics {
  z-index: 1022;
  background-color: #ffffffe6;
}
#hotTopicsContainer {
  max-width: 1024px;
  padding: 33px 22px 64px;
}
/* Tautan ke topik-topik populer di bilah navigasi di atas */
.hotTopicLink {
  font-size: 14px;
  font-weight: 600;
  margin-top: 16px;
  padding-left: 0px;
  --bs-link-color-rgb: 29, 29, 31;
  --bs-link-hover-color-rgb: 0, 102, 204;
}
/* Background jadi gelap untuk memulai Topik hangat */
#hotTopicsDimBackground {
  display: none;
  z-index: 1021;
  position: absolute;
  backdrop-filter: blur(20px);
  background-color: #ffffffcc;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
}
/* layar lebih besar dari 768 */
@media only screen and (min-width: 768px) {
  #secondNav {
    height: 48px;
  }
  #secondNavContainer {
    padding: 0px 22px;
  }
}
/* Layar yang lebih kecil dari 768 */
@media only screen and (max-width: 767.98px) {
  #secondNav {
    height: 52px;
  }
  #secondNavContainer {
    padding: 0px 16px;
  }
  #hotTopicsContainer {
    padding: 4px 22px 64px;
  }
  .hotTopicLink {
    font-size: 17px;
    margin-top: 14px;
  }
}
